.header-news {
  margin-top: 15px;
  width: 100%;
  position: relative;
  &-bg {
    width: 100%;
    height: 168px;
  }
  &-img {
    width: 100%;
    height: 168px;
    object-fit: cover;
  }
  &-dialog {
    width: 100%;
    height: 168px;
    background-image: linear-gradient(#00000008, #000000a6);
    position: absolute;
    top: 0;
  }
  &-content {
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-weight: 700;
    &-text {
      color: #fff;
    }
  }
}
