.song-new-item-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  object-fit: cover;
}
.song-new-item-dialog {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000006e;
  visibility: hidden;
  cursor: pointer;
  &_img {
    width: 30px;
    transform: scale(0);
    transition: all ease 0.3s;
  }
}
.song-new-item-bg:hover .song-new-item-dialog {
  visibility: visible;
}
.song-new-item-dialog:hover .song-new-item-dialog_img {
  transform: scale(0.8);
}
