.list-item-box_img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}
.list-item-box-bg {
  position: relative;
}
.list-item-box_dialog {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #000;
  opacity: 0.5;
  z-index: 1000;
  cursor: pointer;
  visibility: hidden;
  &-img {
    transform: scale(0);
    transition: all ease-in 0.3s;
  }
}
.list-item-box-bg:hover .list-item-box_dialog {
  visibility: visible;
  transition: all ease-in 0.5s;
}
.list-item-box_dialog:hover .list-item-box_dialog-img {
  transform: scale(0.6);
}
