.list-song-item_title {
  display: inline-block;
  margin-top: 10px;
  font-family: "Roboto", "segoe ui", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 15px;
  text-transform: capitalize;
}
