.discover-wapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background: url("https://static-zmp3.zadn.vn/skins/zmp3-v5.1/images/discover_background.png");
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: 126px;
}
.discover-dialog {
  position: absolute;
  opacity: 0.6;
  background: #000;
  width: 100%;
  height: 100%;
}
