.album-item-img {
  cursor: pointer;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.album-item-dialog {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  visibility: hidden;
  background-color: #0000006e;
  width: 150px;
  height: 150px;
  &_img {
    width: 45px;
    transform: scale(0);
    transition: all ease-in 0.3s;
  }
}
.list-album-item-image-wrapper:hover .album-item-dialog {
  visibility: visible;
}
.album-item-dialog:hover .album-item-dialog_img {
  transform: scale(0.9);
}
