.list-news-song-item {
  width: 100%;
  list-style: none;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.news-song-item {
  display: grid;
  grid-template-columns: 100px 185px;
  grid-column-gap: 15px;
}
.items-content-left {
  &-img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
  }
}
.items-contents-left-dialog {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100px;
  height: 70px;
  background: #00000085;
  transition: all ease 0.1s;
}
.items-content-left:hover .items-contents-left-dialog {
  visibility: visible;
  transition: all ease 0.3s;
}
.items-content-right {
  &-text {
    font-size: 14px;
    color: #000;
    cursor: pointer;
    transition: all ease 0.4s;
    &:hover {
      color: #800080;
    }
  }
}
