.list-song {
  margin-top: 60px;
  margin-bottom: 24px;
  width: 100%;
  &-wapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 16px;
  }
  &_title {
    display: inline-block;
    margin-bottom: 30px;
    color: #800080;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
    font-size: 26px;
  }
}
