.list-song-item_img {
  cursor: pointer;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.list-song-item_dialog {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0.5;
  z-index: 200;
  background-color: #000;
  cursor: pointer;
  width: 150px;
  height: 150px;
  &-img {
    width: 45px;
    transform: scale(0);
    transition: all ease-in 0.3s;
  }
  &:hover .list-song-item_dialog-img {
    transform: scale(1);
  }
}
.list-song-item_image-wrapper:hover .list-song-item_dialog {
  visibility: visible;
}
