.list-video-wapper {
  margin-bottom: 24px;
}
.list-video-main-wapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px;
}
.list-video_title {
  display: inline-block;
  margin-bottom: 30px;
  color: #800080;
  text-transform: uppercase;
  font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 26px;
}
.icon-right {
  font-size: 19px;
}
.list-video-panigation {
  position: absolute;
  top: 10px;
  right: 20px;
}
.btn-panigation {
  transition: all ease 0.3s;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  &:active {
    background-color: #2ecc71;
    color: #fff;
  }
}
