.zing-chart-album-title {
  display: inline-block;
  color: #800080;
  text-transform: uppercase;
  font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
