.rank-song-box-des-control-wapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  width: 80px;
}
.rank-song-box-des-control--icon {
  width: 15px;
}
