.album-item-zing-right {
  &-title {
    display: block;
    font-size: 14px;
    color: #000;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.3s;
    &:hover {
      color: #800080;
    }
  }
  &-author {
    cursor: pointer;
    font-size: 12px;
    color: #888;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all ease 0.3s;
    &:hover {
      color: #800080;
    }
  }
}
