.song-new-item-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 160px;
  &_title {
    color: #000;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    &:hover {
      color: #800080;
    }
  }
  &_author {
    color: #636e72;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    &:hover {
      color: #800080;
    }
  }
}
