.news-song-main-hightlight {
  position: relative;
  margin-top: 15px;
  width: 100%;
  &-dialog {
    position: absolute;
    top: 0;
    background-image: linear-gradient(#00000008, #000000a6);
    width: 100%;
    height: 168px;
  }
}
