.rank-song-box-des-image_img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.rank-song-box-des-image-wrapper {
  position: relative;
}
.rank-song-box-des-image_dialog {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: #000;
  cursor: pointer;
  visibility: hidden;
  opacity: 0.5;
  z-index: 1000;
  width: 60px;
  height: 60px;
  &-img {
    transform: scale(0);
    transition: all ease-in 0.3s;
  }
}
.rank-song-box-des-image-wapper:hover .rank-song-box-des-image_dialog {
  visibility: visible;
  transition: all ease-in 0.5s;
}
.rank-song-box-des-image_dialog:hover .rank-song-box-des-image_dialog-img {
  transform: scale(0.9);
}
