.page-wapper {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
  padding: 15px 15px 0;
  display: grid;
  grid-template-columns: 650px 300px;
  grid-column-gap: 18px;
}
.body {
  background: #fff;
}
