.list-album-wapper {
  margin-top: 50px;
  margin-bottom: 24px;
  width: 100%;
}
.list-album-main-wapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 16px;
}
.list-album_title {
  display: inline-block;
  margin-bottom: 30px;
  color: #800080;
  text-transform: uppercase;
  font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 300;
}
.icon-right {
  font-size: 19px;
}
