.list-album-wapper {
  margin-top: 50px;
  margin-bottom: 24px;
  width: 100%;
  position: relative;
}
.list-album-main-wapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 16px;
}
.list-album_title {
  display: inline-block;
  margin-bottom: 30px;
  color: #800080;
  text-transform: uppercase;
  font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 300;
}
.icon-right {
  font-size: 19px;
}
.btn-next-and-pre {
  position: absolute;
  top: 10px;
  right: 20px;
}
.btn-inner {
  transition: all ease 0.3s;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  padding: 6px 20px;
  cursor: pointer;
  &:active {
    background-color: #2ecc71;
  }
}
