.list-album {
  width: 100%;
  margin-bottom: 24px;
  margin-top: 50px;
  &-wapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 16px;
  }
  &_title {
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: #800080;
    text-transform: uppercase;
  }
}
.icon-right {
  font-size: 19px;
}
