.cart-MV {
  display: grid;
  grid-template-columns: 110px 180px;
  grid-column-gap: 10px;
}
.list-item-MV {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  list-style: none;
}
