.list-song-new {
  width: 318px;
  border-left: 1px solid #ecf0f1;
  padding-left: 15px;
  &_title {
    display: inline-block;
    color: #800080;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
    font-size: 26px;
  }
}
.list-Song-ul {
  width: 100%;
}
