.list-partner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  &-img {
    border: 1px solid #dadada;
    width: 76px;
    object-fit: cover;
  }
}
