.li-zingchart {
  position: relative;
}
.children-zingchart {
  display: none;
  position: absolute;
  top: 40px;
  z-index: 200;
  border-radius: 0;
  box-shadow: 0 3px 8px #d9d9d9;
  background: #fff;
  padding: 15px 0;
  width: 550px;
}
.li-zingchart:hover .children-zingchart {
  display: block;
  transition: all ease-in 0.3s;
}
.subitem > h3 {
  text-align: center;
}
.subitem {
  &-title {
    margin: 0 20px;
    height: 35px;
    text-transform: uppercase;
    line-height: 35px;
    color: #333;
    font-weight: bold;
  }
  &-menu > ul {
    width: 100%;
    list-style-type: none;
  }
  &-menu > ul > li {
    margin-left: 20px;
    height: 32px;
    list-style: none;
  }
  &-menu > ul > li > a {
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: capitalize;
    font-size: 13px;
    color: #636e72;
  }
  &-menu > ul > li > a:hover {
    color: #a845de;
  }
}
