.song-new-item-contact {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: space-around;
  transition: all ease 0.1;
  visibility: hidden;
  width: 80px;
  height: 100%;
  &_item {
    width: 16px;
  }
}
.song-new-item:hover .song-new-item-contact {
  transition: all ease 0.1s;
  visibility: visible;
}
