.song-vietnam-newest-wrapper {
  border-left: 1px solid #ecf0f1;
  padding-left: 15px;
  width: 318px;
}
.song-vietnam-newest_title {
  display: inline-block;
  margin-bottom: 30px;
  color: #800080;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
  font-size: 26px;
}
.list-Song-ul {
  width: 100%;
}
