.song-new-item {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 5px;
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 10px;
  cursor: pointer;
  width: 309px;
  list-style: none;
}
