.video-item_title {
  display: block;
  width: 142.5px;
  margin-top: 8px;
  color: #000;
  font-size: 14px;
  text-transform: capitalize;
  overflow: hidden;
}
.video-item_author {
  width: 142.5px;
  color: #636e72;
  font-size: 12px;
  text-transform: capitalize;
  overflow: hidden;
}
