.author-1 {
  color: #888;
  font-size: 12px;
  margin-right: 5px;
  text-transform: capitalize;
  &:hover {
    color: #800080;
  }
}
.song-item-nv-title {
  color: #000;
  font-size: 14px;
  font-family: "Roboto", "segoe ui", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  &:hover {
    color: #800080;
  }
}
