.topic-hot-wrapper {
  margin-bottom: 30px;
  width: 100%;
}
.topic-hot-title {
  display: inline-block;
  color: #800080;
  text-transform: uppercase;
  font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.list-topic {
  width: 100%;
  list-style-type: none;
}
.view-more {
  color: #707070;
  &:hover {
    color: #800080;
  }
}
.icon-view-more {
  margin-left: 10px;
}
