.footer {
  background-color: #222428;
  width: 100%;
  height: 122px;
}
.footer-wapper {
  display: grid;
  grid-template-columns: 344px 371px 246px;
  padding: 0 20px;
  width: 1000px;
  margin: 0 auto;
}
