.icon-control {
  width: 15px;
}
.list-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  & > li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
