.discover-thumb-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
}
.discover-thumb-img {
  width: 100%;
  height: 100%;
}
.discover-thumb-dialog {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &-img {
    width: 45px;
  }
}
