.artist-wapper-right-item {
  position: relative;
}
.artist-wapper-right_img {
  width: 98px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
.artist-wapper-right_dialog {
  position: absolute;
  top: 0;
  width: 98px;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000c;
  cursor: pointer;
  visibility: hidden;
  &-text {
    color: #fff;
    font-size: 12px;
    transform: scale(0);
    transition: all ease 0.3s;
  }
}
.artist-wapper-right-item:hover .artist-wapper-right_dialog {
  visibility: visible;
}
.artist-wapper-right_dialog:hover .artist-wapper-right_dialog-text {
  transform: scale(1);
}
