.zing-chart-MV-title {
  display: inline-block;
  color: #800080;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.zing-chart-MV-header-wapper {
  position: relative;
}
