.album-item-zing-left {
  position: relative;
  width: 100%;
  height: 100%;
  &-bg {
    width: 100%;
  }
  &-img {
    cursor: pointer;
    width: 100%;
  }
  &-dialog {
    position: absolute;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(#00000008, #252121);
    width: 110px;
    height: 110px;
  }
  &-dialog2 {
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.1s;
    visibility: hidden;
    opacity: 0.5;
    z-index: 4;
    background: #000;
    cursor: pointer;
    width: 110px;
    height: 110px;
  }
}
.position-album {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 10;
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
}
.icon-album-play {
  transform: scale(0);
  transition: all ease 0.3s;
}
.album-item-zing-left:hover .album-item-zing-left-dialog2 {
  visibility: visible;
}
.album-item-zing-left-dialog2:hover .icon-album-play {
  transform: scale(1);
}
