.rank-song-box-des-title-wapper {
  margin-left: 10px;
  height: 60px;
}
.rank-song-box-des-title--name {
  display: block;
  color: #000;
  font-size: 14px;
}
.rank-song-box-des-title--author {
  color: #888;
  font-size: 12px;
}
